<table class="billing">
    <tr class="billing__row">
        <th class="billing__header" cellspacing="10px">Endereço</th>
        <th class="billing__header" cellspacing="10px">Pagamento</th>
    </tr>
    <tr class="billing__row">
        <td class="billing__data" width="50%" cellspacing="10px">
            {{#richShippingData shippingData}}
                {{#group logisticsInfo by="addessId"}}
                    <div>

                        {{#compare items.0.selectedDeliveryChannel '==' null}}
                            <div>
                                <h4>Receber</h4>
                                {{#if giftRegistryData}}
                                    {{giftRegistryData.description}}
                                {{else}}
                                    {{#each ../../shippingData.availableAddresses}}
                                        {{#eq ../addressId AddressId}}
                                            <strong>{{receiverName}}</strong>
                                            <br />
                                            {{street}}, {{number}}
                                            {{#if complement}} - {{complement}}{{/if}}
                                            <br />
                                            {{neighborhood}} - {{city}} - {{state}}
                                            <br />
                                            CEP {{postalCode}}
                                        {{/eq}}
                                    {{/each}}
                                {{/if}}
                            </div>
                        {{/compare}}

                        {{#eq items.0.selectedDeliveryChannel "delivery"}}
                            <div>
                                <h4>Receber</h4>
                                {{#if giftRegistryData}}
                                    {{giftRegistryData.description}}
                                {{else}}
                                    {{#each ../../shippingData.availableAddresses}}
                                        {{#eq ../addressId AddressId}}
                                            <strong>{{receiverName}}</strong>
                                            <br />
                                            {{street}}, {{number}}
                                            {{#if complement}} - {{complement}}{{/if}}
                                            <br />
                                            {{neighborhood}} - {{city}} - {{state}}
                                            <br />
                                            CEP {{postalCode}}
                                        {{/eq}}
                                    {{/each}}
                                {{/if}}
                            </div>
                        {{/eq}}

                        {{#eq items.0.selectedDeliveryChannel "pickup-in-point"}}
                            <div>
                                <h4>Retirar</h4>
                                {{#each items.0.slas}}
                                    {{#compare ../items.0.selectedSla '==' id}}
                                        <strong>{{pickupStoreInfo.friendlyName}}</strong>
                                        {{#with pickupStoreInfo.address}}
                                            <br />
                                            {{street}}, {{number}}
                                            {{#if complement}}, {{complement}}{{/if}}
                                            <br />
                                            {{neighborhood}}
                                        {{/with}}
                                    {{/compare}}
                                {{/each}}
                            </div>
                        {{/eq}}

                    </div>
                {{/group}}
            {{/richShippingData}}
        </td>

        <td class="billing__data" width="50%" cellspacing="10px">
            {{#compare split "!=" true}}
                {{#each paymentData.transactions}}

                    {{#compare payments.length "==" 1}}
                        {{#each payments}}
                            <div>
                                {{paymentSystemName}}
                                {{#if lastDigits}} final {{lastDigits}} {{/if}}
                                <br />R$ {{formatCurrency value}}
                                {{#eq installments 1}}
                                    à vista
                        {{else}}
                            em {{installments}}x
                                {{/eq}}
                            </div>

                        {{/each}}
                    {{/compare}}

                    {{#compare payments.length "!=" 1}}
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            {{#each payments}}
                                <tr>
                                    <td align="left">
                                        {{paymentSystemName}}
                                        {{#if lastDigits}} final {{lastDigits}} {{/if}}
                                        {{#eq installments 1}}
                                            à vista
                            {{else}}
                                em {{installments}}x
                                        {{/eq}}
                                    </td>
                                    <td align="left">R$ {{formatCurrency value}}</td>
                                </tr>
                            {{/each}}
                        </table>
                    {{/compare}}

                    <div>Aguardando aprovação</div>

                    {{#each payments}}
                        {{#eq paymentSystemName 'Boleto Bancário'}}
                            <div class="billing__button-box">
                                <a class="button--billet" href="{{replace url '{Installment}' installments}}">
                                    Boleto Bancário
                                </a>
                            </div>
                        {{/eq}}
                    {{/each}}

                {{/each}}
            {{/compare}}

            {{#compare split "==" true}}
                <div>
                    <h3>Pagamento</h3>
                    {{#each paymentData.transactions}}
                        {{#compare payments.length "==" 1}}
                            {{#each payments}}
                                <div>
                                    {{paymentSystemName}}
                                    {{#if lastDigits}} final {{lastDigits}} {{/if}}
                                    <br />R$ {{formatCurrency value}}
                                    {{#eq installments 1}}
                                        à vista
                            {{else}}
                                em {{installments}}x
                                    {{/eq}}
                                </div>
                            {{/each}}
                        {{/compare}}

                        {{#compare payments.length "!=" 1}}
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                {{#each payments}}
                                    <tr>
                                        <td align="left">
                                            {{paymentSystemName}}
                                            {{#if lastDigits}} final {{lastDigits}} {{/if}}
                                            {{#eq installments 1}}
                                                à vista
                                {{else}}
                                    em {{installments}}x
                                            {{/eq}}
                                        </td>
                                        <td align="left">R$ {{formatCurrency value}}</td>
                                    </tr>
                                {{/each}}
                            </table>
                        {{/compare}}

                        <div>Aguardando aprovação</div>

                    {{/each}}
                </div>
            {{/compare}}
        </td>
    </tr>
</table>