<table class="cart">
    {{#richShippingData shippingData}}
        {{#group logisticsInfo by="addessId"}}

            {{#group items by="packageId"}}
                {{#each items}}
                    {{#each ../../../../items}}
                        {{#eq @index ../itemIndex}}
                            <tr class="cart__row">
                                <td class="product__quantity">{{quantity}}</td>
                                <td class="product__img">
                                    {{#if detailUrl}}
                                        <a href="http://{{_accountInfo.AccountName}}.com.br{{detailUrl}}"
                                            target="_blank" rel="noopener noreferrer">
                                            <img alt="produto" src="{{imageUrl}}" />
                                        </a>
                                    {{else}}
                                        <img alt="produto" src="{{imageUrl}}" />
                                    {{/if}}
                                </td>

                                <td class="product__name">
                                    {{name}}
                                <td>

                                <td class="product__price product__price--listprice" width="15%">
                                    {{#compare listPrice '>' sellingPrice}}
                                        <p class="product__price--discount">R$ {{formatCurrency listPrice}}</p>
                                    {{/compare}}
                                </td>
                                <td class="product__price">
                                    <strong class="product__price--selling">
                                        {{#if sellingPrice}}
                                            R$ {{formatCurrency sellingPrice}}
                                        {{else}}
                                            Grátis
                                        {{/if}}
                                    </strong>
                                </td>
                            </tr>
                            {{#each bundleItems}}
                                {{#if name}}
                                    <tr>
                                        <td class="product__img">
                                            {{#if detailUrl}}
                                                <a href="http://{{_accountInfo.AccountName}}.com.br{{detailUrl}}"
                                                    target="_blank" rel="noopener noreferrer">
                                                    <img alt="produto" src="{{imageUrl}}" />
                                                </a>
                                            {{else}}
                                                <img alt="produto" src="{{imageUrl}}" />
                                            {{/if}}
                                        </td>
                                        <td>
                                            <div class="mv1-ns">
                                                {{name}}
                                            </div>
                                            <div>
                                                {{quantity}} un.
                                                {{#if price}}
                                                    R$ {{formatCurrency price}}
                                                {{else}}
                                                    Grátis
                                                {{/if}}
                                            </div>
                                        </td>
                                    </tr>
                                {{/if}}
                            {{/each}}
                        {{/eq}}
                    {{/each}}

                {{/each}}
            {{/group}}
        {{/group}}
    {{/richShippingData}}
</table>