<Header class="partial">{{> Header}}</Header>

<table class="notice">
    <tr class="notice__topic">
        <td class="notice__topic-box">
            <a href="http://{{_accountInfo.AccountName}}.com.br">
                <img class="notice__topic-img"
                    src="https://{{_accountInfo.AccountName}}.vtexassets.com/arquivos/emails-order-confirmation.png"
                    alt="Pedido Realizado" />
            </a>
        </td>
    </tr>
    <tr class="notice__client">
        <td class="notice__client-box">
            <h1 class="heading">
                {{#if orders.0.clientProfileData.firstName}}
                    {{#compare orders.0.clientProfileData.firstName '!=' 'isAnonymous'}}
                        Olá, {{orders.0.clientProfileData.firstName}}.
                    {{/compare}}
                {{/if}}
            </h1>
            <p class="acknowledgment">obrigada por comprar com a {{_accountInfo.AccountName}}</p>
        </td>
    </tr>
    <tr class="notice__message">
        <td class="notice__message-box">
            <p class="paragraph">
                Acabamos de receber o seu pedido.
                <br />
                Estamos aguardando a confirmação do seu pagamento para iniciar o envio.
            </p>
            <p class="paragraph">
                Qualquer dúvida, nossa equipe de atendimento poderá entrar em contato
                <br />
                para verificar as suas informações, combinado?
            </p>
            <p class="paragraph">
                <a class="button--dark" href="{{ordersUrl}}" target="_blank" rel="noopener noreferrer">
                    Ver detalhes do pedido
                </a>
            </p>
        </td>
    </tr>
</table>

<h3 class="subheading">
    {{#compare orders.length '==' 1}}
        Acompanhe seu pedido
    {{/compare}}

    {{#compare orders.length '!=' 1}}
        Acompanhe seus pedidos
    {{/compare}}
</h3>

{{#each orders}}
    <Billing class="partial">{{> Billing}}</Billing>

    <table class="status" cellspacing="2px">
        <tr class="status__row">
            <td class="status__img-box" colspan="5">
                <img class="status__img"
                    src="https://{{_accountInfo.AccountName}}.vtexassets.com/arquivos/status-order-confirmation.png"
                    alt="status do pedido" />
            </td>
        </tr>
        <tr class="status__row">
            <td class="status__title status__title--first status__title--current status__title--success">
                Pedido Realizado
            </td>
            <td class="status__title">
                Pagamento Confirmado
            </td>
            <td class="status__title">
                Pedido Faturado
            </td>
            <td class="status__title">
                Em Transporte
            </td>
            <td class="status__title">
                Pedido Entregue
            </td>
        </tr>
        <tr class="status__row">
            <td class="status__info-box">
                {{#if creationDate}}
                    {{formatDateTime creationDate}}
                {{/if}}
            </td>
            <td class="status__info-box">

            </td>
            <td class="status__info-box">

            </td>
            <td class="status__info-box">

            </td>
            <td class="status__info-box">

            </td>
        </tr>
    </table>

    <h3 class="subheading">Pedido #{{orderId}}</h3>

    <Shelf class="partial">{{> Shelf}}</Shelf>

    <Totals class="partial">{{> Totals}}</Totals>

    <br />
{{/each}}

<br />

<table class="disclaimer">
    <tr class="disclaimer__row">
        <td class="disclaimer__box">
            <h3 class="disclaimer__heading">
                E agora, o que preciso fazer?
            </h3>
            <p class="paragraph">
                Assim que o pagamento for confirmado, enviaremos um e-mail com instruções para acompanhar o seu pedido.
                Você precisa apenas ficar de olho! :)
            </p>
            <p class="paragraph">
                Até breve!
                <br />
                <strong>
                    Time {{_accountInfo.TradingName}}
                </strong>
            </p>
        </td>
    </tr>
</table>

<Footer class="partial">{{> Footer}}</Footer>